<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>VMS ID</th>
            <th>内网 IP</th>
            <th>公网 IP</th>
            <th>Group Name</th>
            <th>机房</th>
            <th>使用方</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for proxy in proxies %}
        <tr>
            <td>{{ proxy.id }}</td>
            <td>{{ proxy.vms_id }}</td>
            <td>{{ proxy.internal_ip }}</td>
            <td>{{ proxy.external_ip }}</td>
            <td>{{ proxy.group_name }}</td>
            <td>{{ proxy.datacenter }}</td>
            <td>{{ proxy.user }}</td>
            <td>
                <a href="#" class="btn btn-warning btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7" class="text-center">No proxies found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>